<div class="row">
    <button onclick="javascript:location.href='#/subject'" style="margin-left: 2%;margin-top: 2vw;text-decoration: none" class="btn btn-fw primary">Back to list subject</button>
</div>
<!-- ############ PAGE START-->
<div class="padding">

  <div class="row">
    <div class="col-sm-12">
      <form ui-jp="parsley" ng-submit="addSubject()">
        <div class="box">
          <div class="box-header">
            <h2>Create a new subject</h2>
          </div>
          <div class="box-body">
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Subject name</label>
              <div class="col-sm-9">
                <input type="text" ng-model="addsubject.name" class="form-control" required placeholder="Enter your subject name">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Category</label>
              <div class="col-sm-9">
                <input type="text" ng-model="addsubject.category" class="form-control" placeholder="Enter your category">
              </div>
            </div>
          </div>
          <div class="dker p-a text-right">
            <button type="submit" class="btn info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- ############ PAGE END-->