 ############ PAGE START-->
<div class="app-body-inner">
  <div class="row-col row-col-xs b-b">
    <!-- column -->
    <div class="col-sm-4 col-md-3 light bg b-r">
      <div class="row-col">
        <div class="p-a-xs b-b">
          <div class="input-group">
            <span class="input-group-addon no-border no-bg"><i class="fa fa-search"></i></span>
            <input type="text" ng-model="search" class="form-control no-border no-bg" placeholder="Search all contacts">
          </div>
        </div>
        <div class="row-row">
          <div class="row-body scrollable hover">
            <div class="row-inner">
              <div class="list inset" ng-init="loadFeedback()">
                <div class="list-item pointer" ng-repeat="x in feedbacks | filter:{subject:search}" ng-click="viewFeedback(x, x.studentname)">
                  <div class="list-left">
                    <span class="w-40 avatar">
                      <ng-letter-avatar data="{{x.studentname}}"></ng-letter-avatar>
                    </span>
                  </div>
                  <span class="pull-right" ng-click="removeFeed(x)"><b>X</b></span>
                  <div class="list-body">
                    {{x.subject}}
                    <small class="block">{{x.created_at | date:'medium'}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col-sm-6 col-md-7">
      <div class="row-col">
        <div class="row-row">
          <div class="row-body">
            <div class="row-inner">
              <div class="padding">
                <!-- fields -->
                <div class="form-horizontal" >
                  <form name="subjectForm">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Tên môn học</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="subject" ng-model="detaiFeedback.subject" required>
                            <span class="error" ng-show="subjectForm.subject.$error.required">
                                Vui lòng nhập giá trị
                            </span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Loại môn học</label>
                        <div class="col-sm-9">
                          <select class="form-control"
                               ng-model="detaiFeedback.category"
                               ng-options="x.loaimon as x.loaimon for x in allCategorySubject" required>
                            </select>{{monhoc.loaimon}}
                          <span class="error" ng-show="!subjectForm.subject.$error.required && subjectForm.category.$pristine || subjectForm.category.$touched && subjectForm.category.$error.required">
                              Vui lòng nhập giá trị
                            </span>
                        </div>
                      </div>
                      <div class="p-a b-t text-center">
                          <button ng-click="feedAddSub(hocsinhUsername)" ng-disabled="subjectForm.subject.$error.required || subjectForm.category.$error.required" class="btn btn-sm white btn-addon" ><i class="fa fa-plus fa-fw m-r-xs"></i>
                              Thêm môn học mới
                          </button>
                       </div>
                  </form>
                </div>
                <!-- / fields -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /column -->
  </div>
</div>

<!-- ############ PAGE END