<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="'../views/blocks/navbar.brand.html'"></div>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        <p style="text-align: center">Sign in with your <span style="color: #2E3E4E;font-size: 17px">Tutor.ct</span> Account</p><br>
        <p style="text-align: center;color: #2E3E4E;font-size: 20px">&#x266b;-&#9885;---Seek your future---&#x266a;&#9731;</p>
      </div>
      <form name="form" ng-controller="AdminController" ng-submit="login()">
      <p class="text-warning">{{messagelogin}}</p>
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="admin.email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="admin.password" required>
          <label>Password</label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Sign in</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <!-- <div class="m-b"><a ui-sref="access.forgot-password" href="forgot-password.html" class="text-primary _600">Forgot password?</a></div> -->
    </div>
  </div>

<!-- ############ LAYOUT END-->