<script src="js/jquery.validate.js"></script>
<script src="js/myScript.js"></script>

<div class="info-item " ng-controller="verifyToken">
	<div ng-class="alert" role="alert">
	    <p>{{message}}</p>
	</div>
	
	<form class="info-form P30 bg-7 box" id="resetPassword" ng-show="success" role="form" ng-submit="resetPassword()">
		<h1 class="title">Reset Password</h1>
		<input type="hidden" ng-model="user.username">
		<div>
			<label for="pwd">Password mới</label>
			<input type="password" name="pwd" class="inputLog" id="pwd"  required>
			<p class="error">Mật khẩu có tối thiểu 8 ký tự</p>
		</div>	
		<div>
			<label for="conpwd">Xác nhận password</label>
			<input type="password" name="conpwd" class="inputLog" id="conpwd" ng-model="user.password" required>
		</div>	
		<button type="submit" class="base-text-color">Đổi mật khẩu</button>
		<div ng-class="result" role="alert">
		    <p>{{msg}}</p>
		</div>
	</form>
</div>