<!-- giasu/class/index -->
<div ng-include="include_myScript.html"></div>
<div ng-include="'/giasu/header.html'"></div>
<div class="row" >
    <div class="col-sm-3 col-md-3">
        <!--left col-->
        <div ng-include="'/giasu/leftindex.html'"></div>
    </div>
    <!--/col-3-->
    <div> <!-- ng-controller="dashbroadTutorInfo"-->
    <div class="col-sm-9 col-md-9" id="mobieDash">
        <a href="#/giasu/classnew" class="btn btn-primary">Mở Lớp Mới</a>
        <h1>Danh Sách Các Lớp</h1>
        <div class="table-responsive" ng-controller="listClass">
            <table id="table_id" class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Môn Học</th>
                        <th>Khai Giảng</th>
                        <th>Số Học Sinh</th>
                        <th>Cập Nhật</th>
                        <th>Tác Vụ</th>
                    </tr>
                </thead>
                <tbody id="items">
                    <tr ng-repeat="c in filteredPage">
                        <td>{{$index+1}}</td>
                        <td>{{c.monhoc}}</td>
                        <td>{{c.start | date:"dd-MM-yyyy"}}</td>
                        <td >{{c.hocsinh.length}}</td>
                        <td>
                            <a ui-sref="tutorclassdetail({classId:c._id})" data-toggle="tooltip" title="Xem chi tiết"><i class="fa fa-info fa-lg" aria-hidden="true"></i></a>
                            <a ui-sref="tutorclassupdate({classId:c._id})" data-toggle="tooltip" title="Sửa"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            <a confirmed-click="deleteClass(c._id)" ng-confirm-click="Chắc chắn xóa lớp này?" data-toggle="tooltip" title="Xóa"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                        </td>
                        <td>
                        <!-- <i class="fa fa-bullhorn fa-lg" data-toggle="tooltip" title="Thông Báo" aria-hidden="true"></i> -->
                        <a ui-sref="tutor-announce({classId:c._id})" class="btn btn-primary">Thông Báo</a>
                        <a ui-sref="tutor-thaoluan({classId:c._id})" class="btn btn-success">Thảo Luận</a>
                        </td>
                    </tr>
                </tbody>
            </table>
    <pagination
        boundary-links="true"
        max-size="3"
        items-per-page="itemsPerPage"
        total-items="lop.length"
        ng-model="currentPage"
        ng-change="pageChanged(lop, 1)">
    </pagination>
            <p class="notFound">{{message}}</p>
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <ul class="pagination" id="myPager"></ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>