<footer id="footer" style="clear: both">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="footer-item P30 bg-4">
            <!-- <a href="index.html" id="footer-logo" class="site-logo">TUTOR.ct</a> -->

            <p id="footer-slogan">Cùng Xây Dựng Tương Lai Với<br />Tutor.ct</p>

            <div class="social-btn el-bottom">
                <a class="icon-twitter-bird" href="#"></a>
                <a class="icon-linkedin-rect" href="#"></a>
                <a class="icon-facebook-rect" href="#"></a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="footer-item P30 bg-4">
            <h4 style="color: #407887"><small>Get in Touch</small></h4>

            <p>Ba Tháng Hai, Xuân Khánh, Ninh Kiều, Cần Thơ, Việt Nam</p>

            <p class="el-bottom">
                P:+84 710 3838 474<br />
                E: <a href="mailto:info@yoursite.com">info@tutor.com</a>
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="footer-item P30 bg-2">
            <h4 style="color: #407887"><small>TUTOR.CT</small></h4>

            <a href="#/ftutor">Tìm kiếm gia sư</a><br>
            <a href="#/fstudent">Tìm kiếm học sinh</a>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="footer-item footer-item_subscribe P30 bg-1">
            <h4 style="color: #407887">TUTOR.ct</h4>

            <form id="footer-form" action="#">
                <p>Cảm ơn đã sử dụng Tutor.ct

            </form>

            <p class="el-bottom">2017 - Tương Lai Của Bạn</p>
        </div>
    </div>
</footer>