<div class="page-title P30" ng-controller="checkLogin">
    <div class="banner-dashbroad">
        <h2 >Tutor dashbroad</h2>
    </div>    
    <!-- <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a> -->
</div>
<!-- <div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="block-courses block-with-date box">
            <img class="img-responsive" src="images/upcoming_3.jpg" alt="demo">
            <div class="description">
                <div class="inner">
                    <p class="title">featured Courses</p>
                    <div class="date">
                        <span class="first number">1</span>
                        <span class="second number">8</span>
                        <span class="month">August</span>
                    </div>
                    <div class="text">
                        <p>Mobile Design Inspiration and creativity</p>
                        <a href="#" class="custom-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="block-courses block-with-date box">
            <img class="img-responsive" src="images/upcoming_4.jpg" alt="demo">
            <div class="description">
                <div class="inner">
                    <p class="title">featured Courses</p>
                    <div class="date">
                        <span class="first number">2</span>
                        <span class="second number">4</span>
                        <span class="month">August</span>
                    </div>
                    <div class="text">
                        <p>Design &amp; Construction Conference</p>
                        <a href="#" class="custom-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->